h1 {
  color: #555;
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -2px;
  white-space: nowrap;
  margin-top: 20px;
  text-align: center;
  width: 60%
}
h2{
	color: #a4a5a5;
	font-size: 26px;
	font-weight: 300;
	margin-top: 30px;
	width: 60%
}
body{
	margin: 25px;
}

.highlight{
	font-size: 16px;
	background-color: #e2db74;
	font-family: Open Sans;
	font-weight: 500px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;

}

.text{
	font-size: 14px;
	font-family: Open Sans;
	font-weight: 500px;
	width: 60%

}

.code .javascript{
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: Ubuntu;
	color: #edede8;
	background-color: #272822;
	display: inline-block;
	width: 40%;
	margin: 2em 0 2em 20px;
	padding-bottom: 15px;
	/*border-left: solid #272822;*/
	border-radius: 15px;
}

.javascript .keyword {
  color: #69d1ef;
}

.javascript .number {
  color: #ae81ff;
}

.javascript .special {
  color: #f92772;
}

.javascript .string,
.javascript .regexp {
  color: #e6db74;
}

.javascript .literal{
	color: #ae81ff;
}

.javascript .tab{
	padding-left: 30px;
}

.link {
	font-weight: bold;
	color: steelblue;
	text-decoration: none;

}
.header .link {
	color: #31322E;
	background-color: #e6e6e6;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
.header li{
	
	display: inline;

}
.header a{
	
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;

}

#active {
	color: #e6e6e6;
	background-color: #31322E;
}

.left {
    float: left;
    width: 30%;
    font-family: Ubuntu;

}

.right {

    float: left;
    width: 30%;
    font-family: Ubuntu;
}

.left, .right .title{
	text-align: center;
}
.left .normal_list{
	list-style-type: circle;
	text-align: left;
}

.right .normal_list{
	list-style-type: square;
	text-align: left;
}
