.clear{
  clear:both;
}

.modalDialog {
	position: fixed;
	font-family: ubuntu;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalActive{
	/*display: block;*/
	opacity: 1;
	pointer-events:auto;
}


.modalHidden{
	pointer-events: none;
	opacity:0;
	display:none;
}
.button{
	background-color: #fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color: #a4a5a5;
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 0px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 0px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 0px 0 0;
	width: 49%;

}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 550px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

h1 {
	color: #555;
	font-size: 64px;
	font-weight: 200;
	letter-spacing: -2px;
	white-space: nowrap;
	/*margin-top: 20px;*/
	text-align: center;
	font-family: Ubuntu;
	width: 100%;

}
nav{
	padding-top: 15px;
	width: 100%;
	text-align: center;
}
h2{
	color: #a4a5a5;
	font-size: 26px;
	font-weight: 300;
	margin-top: 30px;
	font-family: Ubuntu;
	margin-left: 20px;

}
h3{
	color: #a4a5a5;
	font-size: 26px;
	font-weight: 300;
	font-family: Ubuntu;

}
h4{
	color: #a4a5a5;
	font-size: 14px;
	font-weight: 300;
	font-family: Ubuntu;

}
body{
	width: 100%;
	margin: 0px;
}
footer{
	height: 80px;
	width: 100%;
	margin: 0px;
	font-family: Ubuntu;
	background-color: #272822;
	color: #f8f8e6;
	text-align: center;
	float: left;
	
}

body p{
	margin-left: 35px;
	font-family: Ubuntu;
	font-weight: 300;
}
.picture{
	padding: 15px;
	text-align: center;
}


.d3_example{
	padding: 15px;
}

.left_col{
	width: 60%;
	float: left;
}
.right_col{
	width: 40%;
	float: right;
}

.highlight{
	font-size: 16px;
	background-color: #e2db74;
	font-family: Open Sans;
	font-weight: 500px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;

}

.text{
	font-size: 14px;
	font-family: Open Sans;
	font-weight: 500px;
}

.text ul{
	padding-left: 70px;
}

.code .javascript{
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: Ubuntu;
	color: #edede8;
	background-color: #272822;
	display: inline-block;
	width: 80%;
	margin: 2em 0 2em 20px;
	padding-bottom: 15px;
	/*border-left: solid #272822;*/
	border-radius: 8px;
}

.javascript .keyword {
	color: #69d1ef;
	font-style: italic;
}
.javascript .property{
	color: #69d1ef;
}

.javascript .number {
	color: #ae81ff;
}

.javascript .special {
	color: #f92772;
}

.javascript .string,
.javascript .regexp {
	color: #e6db74;
}

.javascript .literal{
	color: #ae81ff;
}

.javascript .tab{
	padding-left: 30px;
}
.javascript .buffer{
	padding: 3px;
}

.link {
	font-weight: bold;
	color: steelblue;
	text-decoration: none;

}
.header .link {
	color: #31322E;
	background-color: #e6e6e6;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
.header li{
	
	display: inline;
	padding-left: 5px;
	padding-right: 5px;

}
.header a{
	
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;

}

#active {
	color: #e6e6e6;
	background-color: #31322E;
}

.left {
	float: left;
	width: 50%;
	font-family: Ubuntu;

}

.right {

	float: left;
	width: 50%;
	font-family: Ubuntu;
}

.left, .right .title{
	text-align: center;
}
.left .normal_list{
	list-style-type: circle;
	text-align: left;
}

.right .normal_list{
	list-style-type: square;
	text-align: left;
}
.toggle_class{
	color: steelblue;
}